.patientsTable {
    text-align: center;
    font-size: 14px;
}

.patientsTable th {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
}

.patientsTable td {
    padding: 5px 20px;
    border-bottom: 1px solid #d9d9d9;
}