.patientsControls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.patientsBrowser {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    background-color: #a0a0a040;
    border: transparent;
    border-radius: 100px;
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
    transition: all .1s ease-in;
    color: #2D3748;
}

.patientsBrowser:focus {
    color: #2D3748;
    outline: 2px solid #07D5A1;
    background-color: #fff;
    transition: all .1s ease-out;
}

.patientsTable {
    text-align: center;
    font-size: 14px;
}

.patientsTable th {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
}

.patientsTable td {
    padding: 5px 20px;
    border-bottom: 1px solid #d9d9d9;
}

.patientsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-radius: 15px;
    background-color: white;
    padding: 8px;
    color: #07D5A1;
    border: 1px solid #07D5A1;
    margin: 0 5px;
    height: 35px;
    width: 25%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 20px;
}

.formGroup input {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    background-color: #a0a0a040;
    border: transparent;
    border-radius: 100px;
    width: 90%;
    height: 30px;

    transition: all .1s ease-in;
    color: #2D3748;

}

.formGroup input:focus {
    color: #2D3748;
    outline: 2px solid #07D5A1;
    background-color: #fff;
    transition: all .1s ease-out;
}

.editSelect {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    background-color: #a0a0a040;
    border: transparent;
    border-radius: 100px;
    width: 95%;
    height: 30px;
    transition: all .1s ease-in;
    color: #2D3748;
}

.userSelect {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    background-color: #a0a0a040;
    border: transparent;
    border-radius: 100px;
    width: 100px;
    height: 30px;
    transition: all .1s ease-in;
    color: #2D3748;
}

.userEditionModal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(77, 77, 77, 0.356);
    width: 100%;
    height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
}