.cardMedicalAlert {
    flex: 0 0 25% !important;
    background-color: #F94242;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin: 5px 10px;
}

.secondaryCardMedicalAlert {
    flex: 0 0 25% !important;
    background-color: #07D5A1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin: 5px 10px;
}

.medicalAlertBtn {
    cursor: pointer;
    background-color: #d9d9d993;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    width: 80%;
    height: 35px;
    border: transparent;
    font-weight: 800;
}

.medicalAlertBtn:hover {
    background-color: #d9d9d9d0;
    transform: translateY(2px) scale(1.05);
    color: #fff;
    border: transparent;
    transition: all 0.25s ease-out;
}

.medicalAlertBtn:active {
    background-color: #d9d9d9d0;
    transform: translateY(-2px) scale(1);
    color: #fff;
    border: transparent;
    transition: all 0.25s ease-out;
}


.subtitle {
    margin: 7px;
}

.title {
    margin: 15px;
    font-size: 24px;
}